@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Exo", sans-serif;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;
}
.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}
.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.App {
  text-align: center;
  background-image: url("https://i.pinimg.com/originals/9c/9c/1a/9c9c1a1ea2ecd4b1428c65aeb5649457.jpg");
  font-family: "DotGothic16", sans-serif;
  background-size: cover;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

.Nav__navBar___xtCFA {
  background-color: transparent !important;
  border: none !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6) !important;
  color: white !important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.code-example-world {
  left: 50%;
  top: 50%;
  position: fixed;
  margin-top: -400px;
  width: 100% !important;
  height: 100vh !important;
  transform: scale(0.45) !important;
}
@media all and (max-width: 900px) {
  .code-example-world {
    transform: scale(0.2) !important;
  }
}

.floor {
  height: 1200px;
  width: 1200px;
}
.plane {
  height: 50px;
  width: 50px;
}

.sproom-floor {
  height: 350px;
  width: 200px;
}

.sproom-wall-x {
  height: 400px;
  width: 200px;
}

.sproom-wall-y {
  width: 350px;
  height: 400px;
}

.toilet-floor {
  height: 350px;
  width: 250px;
  z-index: 0;
  opacity: 1 !important;
}

.toilet-wall-x {
  height: 450px;
  width: 150px;
  z-index: 2;
}

.toilet-wall-y {
  height: 450px;
  width: 350px;
  z-index: 2;
}

.sink {
  height: 200px;
  width: 100px;
  z-index: 10;
  opacity: 1 !important;
  border-radius: 50px;
}

.pillar-y {
  width: 100px;
  height: 450px;
}

.pillar-x {
  width: 100px;
  height: 450px;
}

.TransformComponent-module_container__3NwNd {
  width: 100% !important;
  height: 100vh !important;
}

.wall {
  width: 1200px;
  height: 450px;
  opacity: 1 !important;
}

.door1 {
  width: 160px;
  height: 360px;
}

.entrance {
  height: 360px;
  width: 360px;
}

.screen {
  width: 540px;
  height: 450px;
}

.desk {
  width: 720px;
  height: 200px;
  border-radius: 40px;
  box-shadow: -12px 12px 0px #755743;
}

.desk2 {
  width: 100px;
  border-radius: 20px;
  height: 550px;
  box-shadow: -12px 12px 0px #755743;
}

.counter {
  width: 75px;
  height: 275px;
  opacity: 1 !important;
}

.counter2 {
  width: 150px;
  height: 75px;
  opacity: 1 !important;
}

.chair {
  width: 100px;
  height: 100px;
  border-radius: 25px;
  box-shadow: -12px 12px 0px #000000;
}

.screen,
.entrance,
.desk,
.desk2,
.door,
.door1,
.door2 {
  opacity: 1;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 16px orange, 0 0 6px orange, 0 0 16px white, 0 0 20px white,
    0 0 2px white, 0 0 2px white;
}

.screen:hover,
.entrance:hover,
.desk:hover,
.desk2:hover,
.door:hover,
.door1:hover,
.door2:hover {
  box-shadow: 0 0 2px white, 0 0 2px white, 0 0 56px orange, 0 0 46px orange,
    0 0 16px orange, 0 0 20px orange;
}

.isometric.wall,
.isometric.floor,
.isometric-yw1jzk {
  opacity: 1 !important;
}

.vertical-text {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
